@using CZE.Data.Models
@using CZE.Web.Util.Helper
@model IEnumerable<CZE.Data.Models.KursTip>
@{
    Layout = null;
    KorisnickiNalog nalog = ViewData["nalog"] as KorisnickiNalog ?? await Context.GetLogiraniKorisnik();
}


@if (Model?.Any() ?? false)
{
  <table id="kursTipTable" class="table w-100">
    <thead>
      <tr>
        <th>Tip</th>
        <th>Kategorija</th>
        <th>Časova</th>
        <th>Cijena</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
          <td>@Html.DisplayFor(modelItem => item.KursKategorija.Naziv)</td>
          <td>@Html.DisplayFor(modelItem => item.Casova)</td>
          <td>@Html.DisplayFor(modelItem => item.Cijena) KM</td>
          <td class="text-right">
            @if (nalog != null)
            {
              <a asp-area="AdministrativniRadnik" asp-controller="Kurs" asp-action="KursTable" asp-route-kursTipId="@item.KursTipId"
                 ajax-call="da" ajax-update="#kursBodyDiv"
                 class="btn btn-outline-info" title="Kursevi"><span class="fa fa-th-list"></span></a>
              if (nalog.UlogaKorisnika != UlogeKorisnika.Predavac)
              {
                <a asp-area="AdministrativniRadnik" asp-controller="KursTip" asp-action="Create" asp-route-id="@item.KursTipId"
                   ajax-call="da" ajax-update="#kursTipCardBody"
                   class="btn btn-outline-warning" title="Edit"><span class="fa fa-edit"></span></a>
                @*<a asp-area="AdministrativniRadnik" asp-controller="Osoba" asp-action="Details"
                  class="btn btn-outline-success" title="Details"><span class="fa fa-list-alt"></span></a>*@
                <a asp-area="AdministrativniRadnik" asp-controller="KursTip" asp-action="Delete" asp-route-id="@item.KursTipId"
                   ajax-call="da" ajax-update="#kursTipCardBody"
                   data-toggle="confirmation" data-content="Da li ste sigurni da želite obrisati tip kursa?" data-popout="true" data-singleton="true"
                   class="btn btn-outline-danger" title="Delete"><span class="fa fa-trash"></span></a>
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <p> Trenutno nema zapisa za odabranu kategoriju </p>
}