@using CZE.Data.Models
@using CZE.Web.Util.Helper
@using Microsoft.AspNetCore.Html
@model CZE.Web.Areas.AdministrativniRadnik.Models.GrupaVMs.GrupaDetailsVM
@{
  ViewData["Title"] = "Detalji grupe";
  Layout = "~/Views/Shared/_Layout.cshtml";
  KorisnickiNalog nalog = await Context.GetLogiraniKorisnik();
}



  <div class=" grupa-details-title text-center section-headline text-white">
    <h2 class="mt-4">@Model.Naziv</h2>
  </div>

  <div class="container ">
    <div class="row summary-text border py-3 px-5 d-flex flex-wrap justify-content-around align-items-center">
      <div class="col-6 col-md-auto">
        @*<span class="fa fa-book" title="Kategorija">&nbsp;&nbsp;</span>*@
        <a asp-area="" asp-controller="Grupa" asp-action="Index" asp-route-id="@Model.KursDetails.KursKategorijaVM.KursKategorijaId"
           class="btn btn-outline-dark btn-sm" title="Kategorija kursa">
          @Html.DisplayFor(m => m.KursDetails.KursKategorijaVM.Naziv)
        </a>
        @*<strong>@Html.DisplayFor(m => m.KursDetails.KursKategorijaVM.Naziv)</strong>*@
      </div>
      @*<div class="col-6 col-md-auto">
        <span class="fa fa-graduation-cap" title="@Html.DisplayNameFor(m => m.ZaposlenikNaziv)"></span>
        <strong>@Html.DisplayFor(m => m.ZaposlenikNaziv)</strong>
      </div>*@
      <div class="col-6 col-md-auto">
        <span class="fa fa-calendar" title="@Html.DisplayNameFor(m => m.Pocetak)"></span>
        <strong>@Model.Pocetak.ToString("dd/MM")</strong>
      </div>
      <div class="col-6 col-md-auto">
        <span class="fa fa-clock-o" title="@Html.DisplayNameFor(m => m.Casova)"></span>
        <strong>@(Model.Casova ?? Model.KursDetails.KursTipVM.Casova)</strong>
      </div>
      <div class="col-6 col-md-auto">
        <span class="fa fa-map-marker" title="@Html.DisplayNameFor(m => m.CentarGrad)"></span>
        <strong>@Html.DisplayFor(m => m.CentarGrad)</strong>
      </div>
      <div class="col-6 col-md-auto">
        <span class="fa fa-users" title="@Html.DisplayNameFor(m => m.KandidataPrijavljeno)"></span>
        <strong>@Html.DisplayFor(m => m.KandidataPrijavljeno)</strong>
      </div>
      <div class="col-6 col-md-auto">
        <span class="fa fa-credit-card" title="@Html.DisplayNameFor(m => m.Cijena)"></span>
        <strong>@(Model.Cijena ?? Model.KursDetails.KursTipVM.Cijena) KM</strong>
      </div>
      <div class="col-6 col-md-auto">
        <span id="ocjenedt" class="" title="@Html.DisplayNameFor(m => m.Ocjena)">
        </span>
      </div>
      <div class="col-12 col-md-auto mt-2 mt-lg-0">
        @if (nalog != null && Model.IsLogiraniKorisnikKandidat)
        {
          if (!Model.LogiraniKandidatPrijavljen || (Model.LogiraniKandidatPrijavljen && Model.Odobren))
          {
            <a asp-area="" asp-controller="Grupa" asp-action="PrijavaUGrupu" asp-route-id="@Model.GrupaId"
               class="btn @(Model.LogiraniKandidatPrijavljen ? "btn-danger" : "btn-success")">
              @if (Model.LogiraniKandidatPrijavljen)
              {
                <span>Odjavi se</span>}
              else
              {<span>Prijavi se!</span>}
            </a>
          }
        }
        else
        {
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Prijavi se@(nalog != null && !Model.IsLogiraniKorisnikKandidat ? " kao kandidat" : "")!</button>
        }
      </div>


    </div>


    <p class="lead text-muted">Detalji</p>
    <hr />


    <div class="row px-4" >
      <div class="col-12 col-md-6 order-1 order-md-0">
        <dl class="row dl-details mb-5 mt-3 mt-md-0 pt-2">
          @*<dt class="col-sm-3">Kategorija</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.KursDetails.KursKategorijaVM.Naziv)</dd>*@
          @*<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ZaposlenikNaziv)</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.ZaposlenikNaziv)</dd>*@
          <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Pocetak):</dt>
          <dd class="col-sm-9">@Model.Pocetak.ToString("dd.MM.yyyy HH:mm") @(Model.Kraj != null ? " - " + ((DateTime)Model.Kraj).ToString("dd.MM.yyyy HH:mm") : "")</dd>
          <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CentarGrad):</dt>
          <dd class="col-sm-9">@Html.DisplayFor(m => m.CentarNaziv), @Html.DisplayFor(m => m.CentarGrad) </dd>
          <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ZaposlenikNaziv):</dt>
          <dd class="col-sm-9">@Html.DisplayFor(m => m.ZaposlenikNaziv)</dd>
          @if (Model.Casova != null)
          {
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Casova):</dt>
            <dd class="col-sm-9">
              <span><small><del>@Model.KursDetails.KursTipVM.Casova</del></small> </span><span><b>@Model.Casova</b></span>
            </dd>
          }
          @if (Model.Cijena != null)
          {
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Cijena):</dt>
            <dd class="col-sm-9">
              <span><small><del> @Model.KursDetails.KursTipVM.Cijena</del></small> </span><span><b>@Model.Cijena KM</b></span>
            </dd>
          }

        </dl>
      </div>

      <div class="col-12 col-md-6 order-0 order-md-1">
        <img src="@(Model.Slika.Length>1?"data:image;base64,"+Model.Slika:Model.SlikaUrl)"
             class="img-fluid img-thumbnail mx-auto d-block" style="height: 300px" alt="...">
      </div>
    </div>

    <p class="lead text-muted">Opis</p>
    <hr />


    <div class="px-4 px-md-5">

      <div class="row pl-1 mb-5">
        <div class="row text-muted lead font-weight-bold mb-3 text-cze">@Html.DisplayFor(m => m.KursDetails.KursVM.Naziv)</div>
        <div class="row text-muted">
          @if (string.IsNullOrEmpty(Model.KursDetails.KursVM.Opis))
          {
            <span>Trenutno nema opisa.</span>
          }
          else
          {
            @(new HtmlString(Model.KursDetails.KursVM.Opis))
          }
        </div>
      </div>

      <div class="row pl-1 mb-5">
        <div class="row text-muted lead font-weight-bold mb-3 text-cze">@Html.DisplayFor(m => m.KursDetails.KursTipVM.Naziv)</div>
        <div class="row text-muted">@Html.Raw(Model.KursDetails.KursTipVM.Opis) </div>
      </div>
    </div>

    @*<h4>Detalji kursa</h4>
    <dl class="row dl-details">
      <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KursDetails.KursVM.Naziv)</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.KursDetails.KursVM.Naziv)</dd>
      <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KursDetails.KursVM.Opis)</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.KursDetails.KursVM.Opis)</dd>
    </dl>
    <h4>Detalji tipa kursa</h4>
    <dl class="row dl-details">
      <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KursDetails.KursTipVM.Naziv)</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.KursDetails.KursTipVM.Naziv)</dd>
      <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KursDetails.KursTipVM.Opis)</dt>
      <dd class="col-sm-9">@Html.DisplayFor(m => m.KursDetails.KursTipVM.Opis)</dd>
    </dl>*@

  </div>


@section Scripts
  {
  <script type="text/javascript">
    $("#ocjenedt").html(GenerateStars(@Model.Ocjena));
  </script>
}
