@model GrupaIndexVM

@{
  ViewBag.Title = "Grupe";
  Layout = "_Layout";
}
<div class="row">

  <div class="col-sm-12 col-md-3 pl-4 pt-4 ">

    <div id="kursKategorijeRadioDiv" class="btn-group-vertical btn-group-toggle w-100" data-toggle="buttons">
      <label class="btn btn-light text-left @(!Model.KursKategorijeVM.Any(a=>a.Checked)?"active":"")">
        <input type="radio" name="kategorije" autocomplete="off" value="0" />Sve kategorije
      </label>
      @foreach (var kk in Model.KursKategorijeVM)
      {
        <label class="btn btn-light text-left @(kk.Checked?"active":"") ">
          <input type="radio" name="kategorije" autocomplete="off" value="@kk.KursKategorijaId" /> @kk.Naziv
        </label>
      }
    </div>

  </div>
  <div class="container-fluid col-9 mt-2">
    <div id="grupeDiv" length="6" class="card-deck"></div>
  </div>
</div>
<div id="visibilityElement"></div>

@section Scripts
  {
  <script type="text/javascript">
    var data = @(Json.Serialize(Model.GrupaClientListItemVM));
    var grupeDiv = $("#grupeDiv");
    GenerateListGroupCard(data, grupeDiv, "replace");
    data = null;

    $(document).ready(function () {
      //filtriranje grupa na klik na side filter
      $("#kursKategorijeRadioDiv").on("click","label",
        function () {
          var kursKategorijaId=$(this).find("input[type='radio']").val();
          GroupsAjaxCall("#grupeDiv", kursKategorijaId,"replace");
        });

      $("#grupeDiv").on({
        mouseenter: function () {
          $(this).find(".card-text").stop().animate({ height: "toggle", opacity: "toggle" }, 300);
        },
        mouseleave: function () {
          $(this).find(".card-text").stop().animate({ height: "toggle", opacity: "toggle" }, 300);
        }
      }, ".card-group");


      //Ucitavanje grupa kada se dosegne dno stranice
      //Pocetno rjesenje koje nije radilo na mobilnoj verziji
      //$(window).scroll(function () {
      //  console.log($(window).scrollTop());
      //  if ($(window).scrollTop() + $(window).height() == $(document).height()) {
      //    var kursId = $("#kursKategorijeRadioDiv label.active input").val();
      //    GroupsAjaxCall("#grupeDiv", kursId, "append");
      //  }
      //});

      //rjesenje koje radi i na mobilnoj verziji
      //https://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport/7557433#7557433
      function isElementInViewport(el) {
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
            rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
        );
      }
      function onVisibilityChange(el, callback) {
        var oldVisible;
        return function () {
          var visible = isElementInViewport(el);
          if (visible && visible!=oldVisible) {
            if (typeof callback == 'function') {
              callback();
            }
          }
            oldVisible = visible;
        }
      }

      var el = $("#visibilityElement");
      var handler = onVisibilityChange(el, function() {
        var kursId = $("#kursKategorijeRadioDiv label.active input").val();
        GroupsAjaxCall("#grupeDiv", kursId, "append");
        console.log("visible");
      });

      $(window).on('DOMContentLoaded load resize scroll', handler);

      //document.getElementById("visibilityElement").onvisibilitychange = handler;


    });
  </script>
}
